<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1 class="mb-3">
          </h1>
          <h2>Login</h2>
          <form action="/create" method="POST">
            <div class="form-group">
              <label for="email">Full Name</label>
              <input
                type="text"
                name="fullname"
                class="form-control"
                
              />
            </div>
            <div class="form-group">
              <label for="aboutme">About Me</label>
              <textarea
              
                
                name="aboutme"
                class="form-control"
                
              />
              <div class="form-group">
                <label for="email">Github URL</label>
                <input
                  type="text"
                  
                  name="githuburl"
                  class="form-control"
                  
                />
              </div>
              <div class="form-group">
                <label for="email">Twitter URL</label>
                <input
                  type="text"
                  
                  name="twitterurl"
                  class="form-control"
                  
                />
              </div>
              <div class="form-group">
                <label for="email">Favorite books</label>
                <input
                  type="text"
                 
                  name="favoritebooks"
                  class="form-control"
                  
                />
              </div>
              <div class="form-group">
                <label for="email">Favirite Artists</label>
                <input
                  type="text"
                 
                  name="favoriteartists"
                  class="form-control"
                 
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">createcard</button>
          </form>
       </div>
      </div>
    </div>
    

  </body>
</html>


